# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
server/**/*.ts text
server/**/*.json text
server/**/*.md text

# Declare files that will always have LF line endings on checkout.
server/**/*.sh text eol=lf
